Java.gitignore


.idea/*
*.iml*
.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/5.1.1/executionHistory/executionHistory.lock
.idea/misc.xml
.idea/workspace.xml
app/app.iml
DemoList.iml
